<app-header></app-header>
<app-filter-data (inputEvent)="receiveInput($event)" [userId]="userId" [removeId]="removeId"></app-filter-data>
<div class="user-table" style="float: left; width: 70%">
  <table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Subject</th>
    </tr>
    <tr *ngFor="let user of userArray | filter: userId | paginate: { itemsPerPage: 10, currentPage: currentPage,  totalItems: count };"
      (click)="showDetail(user)">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.grade}}</td>
      <td>{{user.subject}}</td>
    </tr>
  </table>
</div>
<div class="detail" style="float: left; width: 20%">
  <app-data-detail *ngIf="userData !== undefined" [userData]="userData"></app-data-detail>
</div>
<div class="pagination" style="width:100%; overflow: hidden;">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>